= form_for @purchase, html: { class: "form form-horizontal purchase" } do |f|
  .form-group
    = f.label :title, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :title, :class => 'form-control'
    = f.error_span(:title)
  .form-group
    = f.label :description, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :description, :class => 'form-control'
    = f.error_span(:description)
  .form-group
    = f.label :buy, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.select :buy, not: 0, ok: 1
    = f.error_span(:buy)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      '
      = link_to t('.cancel', :default => t("helpers.links.cancel")), '/shopping_lists/'+@purchase.shopping_list_id.to_s, :class => 'btn btn-default'
