- model_class = Purchase
.page-header
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table.table.table-striped
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:title)
      th= model_class.human_attribute_name(:description)
      th= model_class.human_attribute_name(:buy)
      th= model_class.human_attribute_name(:shopping_list_id)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @purchases.each do |purchase|
      tr
        td= link_to purchase.id, purchase_path(purchase)
        td= purchase.title
        td= purchase.description
        td= purchase.buy
        td= purchase.shopping_list_id
        td=l purchase.created_at
        td
          = link_to t('.show', :default => t("helpers.links.show")), purchase_path(purchase), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_purchase_path(purchase), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), purchase_path(purchase), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_purchase_path, :class => 'btn btn-primary'
