- model_class = Purchase
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:title) + ':'
  br
  = @purchase.title
p
  strong= model_class.human_attribute_name(:description) + ':'
  br
  = @purchase.description
p
  strong= model_class.human_attribute_name(:buy) + ':'
  br
  = @purchase.buy

= link_to t('.back', :default => t("helpers.links.back")), shopping_list_path(@purchase.shopping_list_id), :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_purchase_path(@purchase), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), purchase_path(@purchase), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
