- model_class = ShoppingList
.page-header
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table.table.table-striped
  thead
    tr
      th= sortable "title", model_class.human_attribute_name(:title)
      th= model_class.human_attribute_name(:description)
      th= sortable "created_at", model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @shopping_lists.each do |shopping_list|
      tr
        td= link_to shopping_list.title, shopping_list_path(shopping_list)
        td= shopping_list.description
        td= shopping_list.created_at.strftime("%B %e, %Y")
        td
          = link_to t('.show', :default => t("helpers.links.show")), shopping_list_path(shopping_list), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_shopping_list_path(shopping_list), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), shopping_list_path(shopping_list), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
div= will_paginate @shopping_lists
= link_to t('.new', :default => t("helpers.links.new")), new_shopping_list_path, :class => 'btn btn-primary'
