- model_class = ShoppingList
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

= line_chart Purchase.where('shopping_list_id = ?', @shopping_list.id).group_by_day_of_month(:updated_at).count

p
  strong= model_class.human_attribute_name(:title) + ':'
  br
  = @shopping_list.title
p
  strong= model_class.human_attribute_name(:description) + ':'
  br
  = @shopping_list.description

= link_to t('.back', :default => t("helpers.links.back")), shopping_lists_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_shopping_list_path(@shopping_list), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), shopping_list_path(@shopping_list), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

- model_class_p = Purchase
table.table.table-striped
  thead
    tr
      th= sortable "title", model_class_p.human_attribute_name(:title)
      th= model_class_p.human_attribute_name(:description)
      th= sortable "buy", model_class_p.human_attribute_name(:buy)
      th= sortable "created_at", model_class_p.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @purchases.each do |purchase|
      tr
        td= link_to purchase.title, purchase_path(purchase)
        td= purchase.description
        td= purchase.buy ? 'ok' : 'not'
        td= purchase.created_at.strftime("%B %e, %Y")
        td
          = link_to t('.show', :default => t("helpers.links.show")), purchase_path(purchase), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_purchase_path(purchase), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), purchase_path(purchase), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
div= will_paginate @purchases
= link_to t('.new', :default => t("helpers.links.new")), new_purchase_path(@shopping_list), :class => 'btn btn-primary'
