doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title= content_for?(:title) ? yield(:title) : "Myapp"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"


  body
    .navbar.navbar-default.navbar-static-top
        .container
          button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse"
            span.icon-bar
            span.icon-bar
            span.icon-bar
          = link_to "Myapp", root_path, :class => 'navbar-brand'
          .navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav
              li= link_to "About us", pages_about_us_path
              li= link_to "Shopping lists", shopping_lists_path
            ul.nav.navbar-nav.pull-right
              - if user_signed_in?
                li.email= current_user.email
                li= link_to 'Log out', destroy_user_session_path, method: :delete
              - else
                li= link_to 'Log In', new_user_session_path
                li= link_to 'Sign Up', new_user_registration_path

    .container
      .row
        .col-lg-9
          = bootstrap_flash
          = yield
        .col-lg-3

      footer
        p &copy; Company 2019
